# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local
.env.abin-portfolio-2-8ce30
.firebaserc
firebase.json
